.anime-footer{
display:flex;
align-items:center;
gap:35px;
margin-top:15px;
}

.interacao{
display:flex;
align-items:center;
gap:8px;
cursor:pointer;
color:rgba(255,255,255,.55);
}

.interacao:hover{
color:white;
}

.icone{
font-size:22px;
}

.contador{
font-size:14px;
}

.comentario-box{
display:none !important;
margin-top:15px;
padding:15px;
border-radius:12px;
background:rgba(255,255,255,.08);
border:1px solid rgba(255,255,255,.15);
}

.comentario-box.ativo{
display:block !important;
}
